# =========================
# Gradle files
# =========================
.gradle/
.kotlin/
build/
**/build/

# =========================
# Local configuration
# =========================
local.properties

# =========================
# Logs / OS
# =========================
*.log
.DS_Store
Thumbs.db

# =========================
# Android Studio generated
# =========================
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json

# =========================
# IntelliJ / Android Studio
# =========================
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# =========================
# Keystore files (VERY important)
# =========================
*.jks
*.keystore

# =========================
# Google Services
# =========================
google-services.json

# =========================
# Profiling
# =========================
*.hprof
